<launch>

<node pkg="unity_ros_tf" type="odomfromtf.py" name="dog1odomtoworld" output="screen">
    <remap from="/odom_to_map" to="/global/dog1odomtoworld"/>
    <param name="parent_frame" value="map" />
    <param name="child_frame" value="multijackal_01/odom" />
    <remap from="/tf" to="/multijackal_01/merged/tf"/> 
    <remap from="/tf_static" to="/multijackal_01/merged/tf_static"/>    
</node>

<node pkg="unity_ros_tf" type="odomfromtf.py" name="dog2odomtoworld" output="screen">
    <remap from="/odom_to_map" to="/global/dog2odomtoworld"/>
    <param name="parent_frame" value="map" />
    <param name="child_frame" value="multijackal_02/odom" />
    <remap from="/tf" to="/multijackal_01/merged/tf"/> 
    <remap from="/tf_static" to="/multijackal_01/merged/tf_static"/>    
</node>

<!-- <node pkg="unity_ros_tf" type="odomfromtf.py" name="mergedmaptoworld" output="screen">
    <remap from="/odom_to_map" to="/global/mergedmaptoworld"/>
    <param name="parent_frame" value="multijackal_09/map" />
    <param name="child_frame" value="map" />
    <remap from="/tf" to="/multijackal_01/merged/tf"/> 
    <remap from="/tf_static" to="/multijackal_01/merged/tf_static"/>    
</node> -->
<!-- 
<node pkg="unity_ros_tf" type="odomfromtf.py" name="dog1baselinktoworld" output="screen">
    <remap from="/odom_to_map" to="/global/dog1baselinktoworld"/>
    <param name="parent_frame" value="multijackal_09/map" />
    <param name="child_frame" value="multijackal_01/base_link" />
    <remap from="/tf" to="/multijackal_01/merged/tf"/> 
    <remap from="/tf_static" to="/multijackal_01/merged/tf_static"/>    
</node> -->

<!-- <node pkg="unity_ros_tf" type="odomfromtf.py" name="dog_map_from_TF">
    <remap from="/odom_to_map" to="/dogmap_to_world"/>
    <param name="parent_frame" value="multijackal_01/map" />
    <param name="child_frame" value="multijackal_01/map" />
</node> -->

</launch>